In [12]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, render_template, redirect, request, flash
from database_creator import databaser

In [13]:
engine = create_engine('sqlite:///project2.sqlite')

In [14]:
pd.read_sql_query("SELECT * FROM alcohol", con = engine)

        STATE NAME     Yes      No   Total       Yes%        No%   Dep_Yes%
0          ALABAMA   22000  179000  201000  10.945274  89.054726  68.852459
1           ALASKA    4000   25000   29000  13.793103  86.206897  63.636364
2          ARIZONA   36000  235000  271000  13.284133  86.715867  66.666667
3         ARKANSAS   15000  111000  126000  11.904762  88.095238  68.421053
4       CALIFORNIA  119000  638000  757000  15.719947  84.280053  67.032967
5         COLORADO   38000  187000  225000  16.888889  83.111111  69.473684
6      CONNECTICUT   23000  120000  143000  16.083916  83.916084  69.230769
7         DELAWARE    8000   32000   40000  20.000000  80.000000  66.666667
8          FLORIDA   67000  471000  538000  12.453532  87.546468  65.745856
9          GEORGIA   40000  333000  373000  10.723861  89.276139  67.543860
10          HAWAII    8000   47000   55000  14.545455  85.454545  70.000000
11           IDAHO    9000   49000   58000  15.517241  84.482759  60.000000
12        ILLINOIS   56000  268000  324000  17.283951  82.716049  63.809524
13         INDIANA   37000  209000  246000  15.040650  84.959350  66.304348
14            IOWA   23000   89000  112000  20.535714  79.464286  64.102564
15          KANSAS   15000   92000  107000  14.018692  85.981308  64.864865
16        KENTUCKY   25000  119000  144000  17.361111  82.638889  72.727273
17       LOUISIANA   33000  140000  173000  19.075145  80.924855  67.796610
18           MAINE    8000   42000   50000  16.000000  84.000000  64.000000
19        MARYLAND   31000  186000  217000  14.285714  85.714286  69.148936
20   MASSACHUSETTS   54000  255000  309000  17.475728  82.524272  65.765766
21        MICHIGAN   39000  197000  236000  16.525424  83.474576  67.469880
22       MINNESOTA   32000  191000  223000  14.349776  85.650224  68.604651
23     MISSISSIPPI   15000  101000  116000  12.931034  87.068966  70.588235
24        MISSOURI   38000  159000  197000  19.289340  80.710660  60.638298
25         MONTANA    8000   31000   39000  20.512821  79.487179  60.000000
26        NEBRASKA   11000   56000   67000  16.417910  83.582090  59.090909
27          NEVADA   19000  101000  120000  15.833333  84.166667  68.750000
28   NEW HAMPSHIRE    9000   43000   52000  17.307692  82.692308  65.217391
29      NEW JERSEY   34000  320000  354000   9.604520  90.395480  70.434783
30      NEW MEXICO   11000   56000   67000  16.417910  83.582090  77.272727
31        NEW YORK   74000  389000  463000  15.982721  84.017279  70.760234
32  NORTH CAROLINA   40000  260000  300000  13.333333  86.666667  71.681416
33    NORTH DAKOTA    5000   27000   32000  15.625000  84.375000  70.000000
34            OHIO   48000  225000  273000  17.582418  82.417582  71.428571
35        OKLAHOMA   33000  129000  162000  20.370370  79.629630  71.428571
36          OREGON   31000  120000  151000  20.529801  79.470199  68.852459
37    PENNSYLVANIA   42000  277000  319000  13.166144  86.833856  63.917526
38    RHODE ISLAND    7000   36000   43000  16.279070  83.720930  62.500000
39  SOUTH CAROLINA   34000  201000  235000  14.468085  85.531915  64.383562
40    SOUTH DAKOTA    8000   26000   34000  23.529412  76.470588  72.727273
41       TENNESSEE   34000  251000  285000  11.929825  88.070175  78.723404
42           TEXAS   89000  551000  640000  13.906250  86.093750  75.280899
43            UTAH   20000  105000  125000  16.000000  84.000000  66.666667
44         VERMONT    6000   20000   26000  23.076923  76.923077  70.000000
45        VIRGINIA   41000  233000  274000  14.963504  85.036496  66.315789
46      WASHINGTON   51000  290000  341000  14.956012  85.043988  65.467626
47   WEST VIRGINIA    7000   50000   57000  12.280702  87.719298  65.625000
48       WISCONSIN   38000  218000  256000  14.843750  85.156250  64.444444
49         WYOMING    3000   20000   23000  13.043478  86.956522  62.500000